body {
  font-family: Lato, sans-serif;
  color: #2d3c49;
  font-weight: 200;
}

.text-muted {
  color: #7d97ad;
}
.text-title {
  font-weight: 100;
  font-size: 60px;
  font-family: Lato Thin;
}
.title-logo {
  margin-top: 20px;
}

a {
  color: #02b3e4;
  margin-right: 10px;
  font-size: 18px;
}
@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}
